/*==================GERAL===============*/
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

$primary-color: #5580d8;
$sencond-color: white;

* {
  padding: 0;
  margin: 0;
}
/*==========Toolbar===================*/
.mat-toolbar {
  background-color: $primary-color;
  height: 5rem;
  width: 100%;
  box-shadow: 2px;
  box-shadow: 10px 0px 10px #6b8fdb;
}

.mat-toolbar span {
  color: $sencond-color;
  font-family: "Fredoka One", cursive;
  font-size: 26px;
}

.mat-toolbar .menu span {
  font-family: "arial";
  justify-content: flex-end;
}
.footer {
  background-color: $primary-color;
  height: 4rem;
  width: 100%;
}
