<div class="px-6 py-3 border-b" fxLayout="row" fxLayoutAlign="start center">
  <h2 class="title m-0" mat-dialog-tittle *ngIf="!doctor.id">Novo Serviço</h2>
  <h2 class="title m-0" mat-dialog-tittle *ngIf="doctor.id">Alterar Serviço</h2>
</div>
<mat-dialog-content class="mat-typography">
  <div @fadeInUp fxFlex="auto" [formGroup]="form">
    <div class="px-6 py-4" fxLayout="column">
      <mat-form-field fxFlex="grow">
        <mat-label>Nome do medico</mat-label>
        <input [(ngModel)]="doctor.name" matInput formControlName="name" required>
      </mat-form-field>

      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutGap.lt-sm="0">
        <mat-form-field fxFlex="grow">
          <mat-label>CRM</mat-label>
          <input [(ngModel)]="doctor.crm" matInput placeholder="Ex. 1254587/sp" formControlName="crm" required>
        </mat-form-field>

        <mat-form-field fxFlex="grow">
          <mat-label>Especialização</mat-label>
          <input [(ngModel)]="doctor.especialition" matInput formControlName="especialition" required>
        </mat-form-field>
      </div>

      <mat-form-field fxFlex="grow">
        <mat-label>Endereço</mat-label>
        <textarea [(ngModel)]="doctor.address" matInput formControlName="address"
          [matTextareaAutosize]="true"></textarea>
      </mat-form-field>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions aling="end">
  <button mat-button type="button" mat-dialog-close>Cancelar</button>
  <button color="primary" mat-raised-button type="button" [mat-dialog-close]="true" [disabled]="form.invalid"
    (click)="enviarDoctor(doctor.id)">{{legendaBotao}}</button>
</mat-dialog-actions>